<% if @comment.errors.any? %>
  Materialize.toast("<%= j @comment.errors.full_messages.join(', ') %>", 4000);
<% else %>
  $("#post_<%=@post.id%> .collection").append("<li class='collection-item'><%= "#{@comment.user.email}: #{@comment.content}" %></li>");
<% end %>