= form_for [post.user, post, comment], remote: true do |f|

  .row
    .input-field.col.s12
      = f.label :content
      = f.text_field :content

  .row
    .actions
      = f.submit 'Submit', class: 'col s12 btn indigo'